@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root{
    --poppins: 'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  padding: 0px;
  margin: auto;
  background-color: transparent;
}

.header{
  background-image: url('./images/bg-hero-desktop.svg');
  background-color: var(--very-pale-cyan);
  background-size: 100%;
  padding: 3rem 5.2rem;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.3rem;
}

.logo{
  width: 15%;
}

.nav-btn{
  font-family: var(--open-sans);
  font-weight: 700;
  padding: 0.8rem 3rem;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px hsla(208, 11%, 55%, 25%);
}

.header_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.write_up{
  width: 70%;
  padding-right: 4rem;
}

h2{
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 38px;
  line-height: 4rem;
  margin-bottom: 2rem;
}

p{
  font-family: var(--open-sans);
  font-size: 17.5px;
  font-weight: 400;
}

.btn{
  background-color: var(--pink);
  font-family: var(--open-sans);
  font-weight: 700;
  color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  margin-top: 3rem;
  padding: 1rem 5rem;
}

.mockup{
  width: 100%;
}

.body{
  background-color: white;
  padding: 8rem 5.3rem 26rem 5.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 5rem;
  padding: 4rem 8rem;
  padding-right: 5rem;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px hsla(208, 11%, 55%, 25%);
}

.font-size{
  font-size: 35px;
}

.font-color{
  color: var(--grayish-blue);
}
.card_img{
  width: 100%;
}
